* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: geist;
    src: url(./fonts/Geist-Regular.otf);
    font-weight: regular;
}

@font-face {
    font-family: geist;
    src: url(./fonts/Geist-Light.otf);
    font-weight: light;
}

@font-face {
    font-family: geist;
    src: url(./fonts/Geist-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: geist;
    src: url(./fonts/Geist-Black.otf);
    font-weight: black;
}

body {
    background-color: #edf2f4;
    font-family: geist;
}

header {
    background: linear-gradient(to right, #e74054 ,#a5001c);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100px;
}

header .material-symbols-outlined {
    font-size: 36px;
}

