* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: geist;
    src: url(./fonts/Geist-Regular.otf);
    font-weight: regular;
}

@font-face {
    font-family: geist;
    src: url(./fonts/Geist-Light.otf);
    font-weight: light;
}

@font-face {
    font-family: geist;
    src: url(./fonts/Geist-Bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: geist;
    src: url(./fonts/Geist-Black.otf);
    font-weight: black;
}

body {
    background-color: #edf2f4;
    font-family: geist;
}

header {
    background: linear-gradient(to right, #e74054 ,#a5001c);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100px;
}

header .material-symbols-outlined {
    font-size: 36px;
}

aside {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background-color: #8d99ae;
    z-index: 1;
    transition: 0.5s;
    display: grid;
    grid-template-rows:100px 300px;
    justify-items: center;
}

.open {
    width: 50%;
    padding: 30px;
}

.form-exit-button {
    position: fixed;
    top: 30px;
    left: 52%;
    background:none;
    border-style: none;
    width: 30px;
    height: 30px;
    visibility: hidden;
}

aside h3 {
    place-self: center;
}

aside #title, aside #author, aside #pages {
    width: 200px;
    height: 30px;
    border-style: none;
    border-radius: 6px;
}

form {
    width: 40%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(5, 80px);
    gap: 10px;
}

form #read {
    border-radius: 20px;
    height: 30px;
    width: 30px;
    align-self: start;
    justify-self: start;
}

form button {
    grid-column: 1/3;
    border-style: none;
    border-radius: 10px;
    color: #ef233c;
    font-weight: bold;
    font-size: 1.5rem;
}

form button:hover {
    border: 2px solid #ef233c;
}